* {
  background-color: rgb(248, 248, 248);
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Nanum Myeongjo', serif;
}

p {
  font-family: 'Nanum Myeongjo', serif;
  font-family: 'Roboto', sans-serif;
}

.desc {
  margin: 5%;
  font-size: xx-large !important;
}

.foot {
  margin: 5%;
}

.foot h1 {
  font-family: 'Nanum Myeongjo', serif;
  color: rgb(120, 201, 221);
  font-size: 2.5em;
}

/* .foot p {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
} */

.foot .paragraph {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}

.faq {
  margin-top: 2%;
  margin-left: 5%;
  color: rgb(120, 201, 221);
}

#faqImage {
  height: 100%;
  width: 100%;
}

.faq1 {
  margin-top: 2%;
  border-radius: 50%;
  margin-left: 10%;
  margin-bottom: 10%;
}

.card {
  border-radius: 5% !important;
}

/* [data-theme='compact']
  .site-collapse-custom-collapse
  .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  border-radius: 0px !important;
  margin-bottom: 4px;
  border: 0px;
  overflow: hidden;
} */

/* :global {
  .ant-collapse-header {
    color: red;
  }
} */

.circle {
  height: 20px;
  width: 20px;
  background-color: rgb(120, 201, 221);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-top: 1%;
  margin-left: 45.6%;
}

.line {
  border-left: 2px solid rgb(120, 201, 221);
  height: 550px;
  position: absolute;
  left: 46.5%;
  margin-left: -3px;
  top: 80;
}

@media screen and (max-width: 770px) {
  .line {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  .circle {
    display: none;
  }
}

/* grid */

.grid {
  margin-left: 6% !important;
}

.grid1 {
  text-align: center !important;
  width: 30% !important;
  height: 30vh;
  background-color: rgb(45, 196, 45);
  clip-path: polygon(70% 0%, 100% 50%, 70% 100%, 0% 100%, 0% 0%);
  position: relative;
}

.grid1 h1 {
  margin: 0;
  padding: 0;
  font-size: 2em;

  text-align: center;
  position: relative;
  top: 40%;
  color: white;
  background-color: rgb(45, 196, 45);
}

.grid2 {
  width: 35% !important;
  height: 30vh;
  padding-left: 1% !important;
  background-image: linear-gradient(
    to right,
    rgb(45, 196, 45),
    rgb(30, 143, 172)
  );
  clip-path: polygon(70% 0%, 100% 50%, 70% 100%, 0% 100%, 20% 50%, 0% 0%);
}

.grid2 h1 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  margin-left: 15% !important;

  text-align: center;
  position: relative;
  top: 40%;
  color: white;
  background-image: linear-gradient(
    to right,
    rgb(45, 196, 45),
    rgb(30, 143, 172)
  );
}

.grid3 {
  width: 30% !important;
  height: 30vh;
  background-color: rgb(30, 143, 172);
  clip-path: polygon(70% 0%, 100% 50%, 70% 100%, 0% 100%, 20% 50%, 0% 0%);
}

.grid3 h1 {
  margin: 0;
  padding: 0;
  font-size: 2em;

  text-align: center;
  position: relative;
  top: 40%;
  color: white;
  background-color: rgb(30, 143, 172);
}
